/* CSS Document */

body {
  background-color: black;   /* sets background color to black */
  color: white;             /* sets text (foreground) color to white */
  width: 960px;            /* limits the total width to 1024px */
  margin: 0 auto;           /* centers the body within the browser window */
}


.sedgwick-ave-display-regular {
  font-family: "Sedgwick Ave Display", serif;
  font-weight: 400;
  font-style: normal;
}

.title {
  font-family: "Sedgwick Ave Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1000%;
  text-align: center;
  padding-top: 50px;
  margin: 0;     
  line-height: 1;    
}

.subtitle {
  font-size: 300%;
  text-align: center;
  margin: 0;         
  line-height: 1;    
  padding-bottom: 25px;
}

.img-container {
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.img-fill {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: 50% 50%;
  display: block;
}
